<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../src/images/favicon.png">
  <link rel="stylesheet" href="../src/styles/output.css">
  <link rel="stylesheet" href="../src/styles/active-gps.css">
  <title>Activar GPS</title>
</head>
<body>
  <div class="flex flex-col justify-center items-center">
    <div class="w-96 card px-6 flex flex-col justify-center">
      <h1 class="text-lg text-center my-5">Activa tu GPS</h1>
      <p class="text-justify mb-10">Para mejorar la experiencia, activa la ubicación del dispositivo, que utiliza los servicios de ubicacion de Google.</p>

      <div class="my-10 pt-12">
        <img src="../src/images/maps-pin-location-red.png" alt="Maps Pin Location" class="w-auto m-auto">
      </div>

      <div class="mt-2">
        <img src="../src/images/footer-right.png" alt="Welcome" class="w-auto m-auto">
      </div>  
    </div>

    <div class="w-96 my-10 flex justify-between items-center">
      <button class="btn btn-secondary w-[45.5%]">Declinar</button>
      <button class="btn btn-primary w-[45.5%]">Aceptar</button>
    </div>
  </div>
</body>
</html>