<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../src/images/favicon.png">
  <link rel="stylesheet" href="../src/styles/output.css">
  <link rel="stylesheet" href="../src/styles/welcome.css">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <title>Bienvenido a Citadu</title>
</head>

<body>
  <div class="flex flex-col justify-center mt-5" id="spin-container" role="status" hidden>
    <img src="../src/images/spinners.png" alt="Background Spinner" class="w-auto animate-spin">
  </div>

  <div id="body-background">
    <div class="container mx-auto footer-background">
      <div class="flex flex-col justify-center items-center">
        <div class="w-96 card flex flex-col justify-center">
          <h1 class="md:text-sm text-center">Bienvenido a <br>Citadu</br></h2>
            <p class="px-3.5 text-justify">Vende, Anuncia, Encuentra lo que te gusta, fácil y rápido</p>

            <div class="mt-5">
              <img src="../src/images/citadu-eslogan.png" alt="Citadu Eslogan" class="object-scale-down w-20 h-24 m-auto">
            </div>

            <img src="../src/images/welcome-img.png" alt="Welcome" class="object-scale-down w-4/5 h-4/5 m-auto">
            <div class="mt-2">
              <img src="../src/images/footer-left.png" alt="Welcome" class="w-auto m-auto">
            </div>
        </div>

        <div class="w-96 my-10">
          <button class="btn btn-primary w-full" href="./active-gps.html">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../app.js"></script>
</body>

</html>