body {
  margin: 0;
  position: relative;
}

#spin-container {
  background: url("../images/citadu-vertical-logo.png") white center center no-repeat;
  background-size: 60px 70px;
}

#body-background {
  background: url("../images/background-circle-left.png") white left top no-repeat;
  background-size: 290px 330px;
  padding-top: 40px;
}

.footer-background {
  background: url("../images/background-circle-right.png") transparent right bottom no-repeat;
  background-size: 230px 290px;
}